#div0 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}
#div1 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid red;
  color: red;
  
}
#div1 > p {
text-align:center;
border:1px solid red;
  
}
#div2 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #581845;
  color: #581845;

}

#div2 > p {
text-align:center;
border: 1px solid #581845;
  
}
#div3 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #900C3F;
  color: #900C3F;

}
#div3 > p {
text-align:center;
border: 1px solid #900C3F;
  
}

#div4 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #c70039;
  color: #c70039;

}
#div4 > p {
text-align:center;
border: 1px solid #c70039;
  
}
#div5 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #ff5733;
  color: #ff5733;

}
#div5 > p {
text-align:center;
border: 1px solid #ff5733;
  
}
#div6 {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-bottom:5px;
  border: 1px solid #ffc300;
  color: #ffc300;

}
#div6 > p {
text-align:center;
border: 1px solid #ffc300;
  
}
button {
  background-color: #808080;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  text-align:center;
}
body{
	background-color:#C0C0C0;
	text-align:center;
}

#parent{
margin-top: 20px;
}

p{
	text-align:center;
border:1px solid red;
}

#TextBoxContainer{
text-align:center;
}

#line {
  border: 1px solid black;
}